# Workflow derived from https://github.com/r-lib/actions/tree/master/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release', dev: false}
          - {os: windows-latest, r: 'release', dev: false}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release', dev: false}
          - {os: ubuntu-latest,   r: 'release', dev: false}
          - {os: ubuntu-latest,   r: 'oldrel-1', dev: false}
          - {os: ubuntu-latest,   r: 'release', dev: true}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      FIGSHARE_PAT: ${{ secrets.FIGSHARE_PAT }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: "macOS install spatial libraries"
        if: runner.os == 'macOS'
        run: |
          brew install gdal proj geos

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: "dev version for spatial packages"
        if: ${{ matrix.config.dev }}
        run: |
           Rscript -e "install.packages('remotes')" -e "remotes::install_github('r-spatial/sf')" -e "remotes::install_github('rspatial/terra')"

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
